@model MovieMVC.Models.Movie

@{
    ViewData["Title"] = "Delete";
}

<div class="movie-page home-header">
<h2>Are you sure you want to delete this movie?</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Directors</dt>
        <dd class="col-sm-9">
            @string.Join(", ", Model.MoviePeople?.Where(mp => mp.PositionId == 1).Select(mp => mp.Name?.Name) ?? [])
        </dd>

        <dt class="col-sm-3">Producers</dt>
        <dd class="col-sm-9">
            @string.Join(", ", Model.MoviePeople?.Where(mp => mp.PositionId == 2).Select(mp => mp.Name?.Name) ?? [])
        </dd>

        <dt class="col-sm-3">Writers</dt>
        <dd class="col-sm-9">
            @string.Join(", ", Model.MoviePeople?.Where(mp => mp.PositionId == 3).Select(mp => mp.Name?.Name) ?? [])
        </dd>

        <dt class="col-sm-3">Actors</dt>
        <dd class="col-sm-9">
            @string.Join(", ", Model.MoviePeople?.Where(mp => mp.PositionId == 4).Select(mp => mp.Name?.Name) ?? [])
        </dd>

        <dt class="col-sm-3">Categories</dt>
        <dd class="col-sm-9">
            @string.Join(", ", Model.MovieCategory?.Select(mc => mc.Category?.Category) ?? [])
        </dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="sort" value="@Context.Request.Query["sort"]" />
    <input type="hidden" name="desc" value="@Context.Request.Query["desc"]" />
    <input type="hidden" name="search" value="@Context.Request.Query["search"]" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" href="/Home?sort=@Context.Request.Query["sort"]&desc=@Context.Request.Query["desc"]&search=@Context.Request.Query["search"]">Cancel</a>
    </form>
